/* bigger tablet or small pc more than 1024px */ 
@media only screen and (max-width: 1990px){

    header{height: 90vh;}
    
    

    .main-nav{font-size: 15px;} 
    
    .main-nav i{ /*icon at main-nav*/
        font-size: 20px;
        padding-left: 10px;
    }        
    
    .row img{
    margin-left: 10px;
    padding-right: 30px;}
    
    .mid-page{padding: 0;}
    
}



/* tablet to big tablet 850-1023px */ 
@media only screen and (max-width: 1023px){
    

    header{height: 80vh;}
    
    .main-nav li{       /*link at main-nav*/
    margin: 50px 15px 20px 15px;
    }
    
    .main-nav form{     /*search box at main-nav*/
    margin: 50px 15px 20px 15px;
    }
    
    .row img{padding-right: 5px;} /*logo at header*/
    
    .First{
        width: 90%;
    }
    .Second{
        width: 90%;
    }
    .presenter1 img{
        width: 96%;
        padding-left: 20px;
    }
    .product-show {
        overflow: visible;
        width: 90%;
        background-color: white;
    }
    
    .row img {
        margin: 0;
    }
    .Third{
        width:auto;
        text-align: left;
    }
    
    .footer-nav li{
        text-align: center;
        width:100%;
    }
    .social-nav {
        width: 100%;
        clear: right;
        float: left;
       text-align: center;
    }
    
    .social-nav:last-child,.footer-nav li:last-child,{
        margin-right: 20px;
        padding-right: 20px;
    }

} 


/* tablet to big tablet 768-850px */ 
@media only screen and (max-width: 850px){
    
    .main-nav li{       /*link at main-nav*/
    margin: 50px 9px 20px 9px;
    }
    
    .main-nav form{     /*search box at main-nav*/
    margin: 50px 5px 20px 5px;
    }
    
    .row img{padding-right: 5px;} /*logo at header*/
    
    input{width: 80%;}
}


/* phone to small tablet 481-767px */ 
@media only screen and (max-width: 767px){
    
    .main-nav{display: none;}
    
    
    
    
    
    .First{
        width: 90%;
    }
    .Second{
        width: 90%;
    }
    .presenter1 img{
        width: 96%;
        padding-left: 20px;
    }
    .product-show {
        overflow: visible;
        width: 90%;
        background-color: white;
    }
    
    .row img {
        margin: 0;
    }
    .Third{
        width:auto;
        text-align: left;
    }
    
    .footer-nav li{
        text-align: center;
        width:100%;
    }
    .social-nav {
        width: 100%;
        clear: right;
        float: left;
       text-align: center;
    }
    
    .social-nav:last-child,.footer-nav li:last-child,{
        margin-right: 20px;
        padding-right: 20px;
    }

    
}


/* small phone 0-480px */ 
@media only screen and (max-width: 480px){
    .First{
        width: 90%;
    }
    .Second{
        width: 90%;
    }
    .presenter1 img{
        width: 96%;
        padding-left: 20px;
    }
    .product-show {
        overflow: visible;
        width: 90%;
        background-color: white;
    }
    
    .row img {
        margin: 0;
    }
    .Third{
        width:auto;
        text-align: left;
    }
    
    .footer-nav li{
        text-align: center;
        width:100%;
    }
    .social-nav {
        width: 100%;
        clear: right;
        float: left;
       text-align: center;
    }
    
    .social-nav:last-child,.footer-nav li:last-child,{
        margin-right: 20px;
        padding-right: 20px;
    }

}

